<ng-container>
  <mat-toolbar color="primary" class="example-header">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Employee App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [(opened)]="opened" mode="push" role="navigation" class="example-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Home</a>
        <a mat-list-item routerLink=".">Emp Details</a>
        <a mat-list-item routerLink=".">Salary Calc</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <p>Main</p>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="primary" class="example-footer">Footer</mat-toolbar>
</ng-container>
